{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Hey there!</h1>
            <p>Welcome to my Blog! I'm TropicolCoder.<br> Here I'll be talking about everything computer scince.</p>

            <p>Check out my HashNode Blog <a href="https://tropicolcoder.hashnode.dev/">here</a> for more tech stuff.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}